CabinetInfirmierClient/src/conf/xml-resources/web-service-references/CabinetInfirmier/wsdl/localhost_8080/CabinetInfirmierServer/CabinetInfirmier.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://medical.l3miage.ujf_grenoble.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://medical.l3miage.ujf_grenoble.fr/" name="CabinetInfirmier">
<types>
<xsd:schema>
<xsd:import namespace="http://www.ujf-grenoble.fr/l3miage/medical" schemaLocation="http://localhost:8080/CabinetInfirmierServer/CabinetInfirmier?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://medical.l3miage.ujf_grenoble.fr/" schemaLocation="http://localhost:8080/CabinetInfirmierServer/CabinetInfirmier?xsd=2"/>
</xsd:schema>
</types>
<message name="getListePatientsStr">
<part name="parameters" element="tns:getListePatientsStr"/>
</message>
<message name="getListePatientsStrResponse">
<part name="parameters" element="tns:getListePatientsStrResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getStrLength">
<part name="parameters" element="tns:getStrLength"/>
</message>
<message name="getStrLengthResponse">
<part name="parameters" element="tns:getStrLengthResponse"/>
</message>
<message name="getNomCabinet">
<part name="parameters" element="tns:getNomCabinet"/>
</message>
<message name="getNomCabinetResponse">
<part name="parameters" element="tns:getNomCabinetResponse"/>
</message>
<message name="getListePatients">
<part name="parameters" element="tns:getListePatients"/>
</message>
<message name="getListePatientsResponse">
<part name="parameters" element="tns:getListePatientsResponse"/>
</message>
<message name="getCoutPatient">
<part name="parameters" element="tns:getCoutPatient"/>
</message>
<message name="getCoutPatientResponse">
<part name="parameters" element="tns:getCoutPatientResponse"/>
</message>
<portType name="CabinetInfirmier">
<operation name="getListePatientsStr">
<input wsam:Action="http://medical.l3miage.ujf_grenoble.fr/CabinetInfirmier/getListePatientsStrRequest" message="tns:getListePatientsStr"/>
<output wsam:Action="http://medical.l3miage.ujf_grenoble.fr/CabinetInfirmier/getListePatientsStrResponse" message="tns:getListePatientsStrResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://medical.l3miage.ujf_grenoble.fr/CabinetInfirmier/helloRequest" message="tns:hello"/>
<output wsam:Action="http://medical.l3miage.ujf_grenoble.fr/CabinetInfirmier/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getStrLength">
<input wsam:Action="http://medical.l3miage.ujf_grenoble.fr/CabinetInfirmier/getStrLengthRequest" message="tns:getStrLength"/>
<output wsam:Action="http://medical.l3miage.ujf_grenoble.fr/CabinetInfirmier/getStrLengthResponse" message="tns:getStrLengthResponse"/>
</operation>
<operation name="getNomCabinet">
<input wsam:Action="http://medical.l3miage.ujf_grenoble.fr/CabinetInfirmier/getNomCabinetRequest" message="tns:getNomCabinet"/>
<output wsam:Action="http://medical.l3miage.ujf_grenoble.fr/CabinetInfirmier/getNomCabinetResponse" message="tns:getNomCabinetResponse"/>
</operation>
<operation name="getListePatients">
<input wsam:Action="http://medical.l3miage.ujf_grenoble.fr/CabinetInfirmier/getListePatientsRequest" message="tns:getListePatients"/>
<output wsam:Action="http://medical.l3miage.ujf_grenoble.fr/CabinetInfirmier/getListePatientsResponse" message="tns:getListePatientsResponse"/>
</operation>
<operation name="getCoutPatient">
<input wsam:Action="http://medical.l3miage.ujf_grenoble.fr/CabinetInfirmier/getCoutPatientRequest" message="tns:getCoutPatient"/>
<output wsam:Action="http://medical.l3miage.ujf_grenoble.fr/CabinetInfirmier/getCoutPatientResponse" message="tns:getCoutPatientResponse"/>
</operation>
</portType>
<binding name="CabinetInfirmierPortBinding" type="tns:CabinetInfirmier">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getListePatientsStr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStrLength">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNomCabinet">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getListePatients">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCoutPatient">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CabinetInfirmier">
<port name="CabinetInfirmierPort" binding="tns:CabinetInfirmierPortBinding">
<soap:address location="http://localhost:8080/CabinetInfirmierServer/CabinetInfirmier"/>
</port>
</service>
</definitions>